.listagem {
  background-color: #fff;
  padding: 2rem;
  width: 80%;
  border-radius: 18px;
  border: 1px solid #dee2e6;
  margin-top: 0.5rem;
  height: 100%;
  margin: 0 auto;

  .titulo {
    height: 2rem;
    vertical-align: middle;
  }

  .id {
    margin: 0 auto;

    img {
      width: 15%;
      margin-left: 8rem;
      padding-top: 1.5rem;
    }

    h2 {
      color: #434343;
      font-size: 1rem;
      padding-top: 1.5rem;
    }
  }

  .comentario {
    background-color: #228635;
    width: 80%;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    color: #228635;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px #d3d3d3 solid;
  }
}
