.listagem {
  background-color: #fff;
  padding: 0.5rem;
  text-align: justify;
  width: 100%;
  margin: 0 auto;
  height: 12rem;

  border-radius: 18px;
  border: 1px solid #dee2e6;
  margin-top: 0.5rem;

  h1 {
    color: #228635;
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }

  h2 {
    color: #434343;
    font-size: 1.1rem;
  }

  img {
    width: 70%;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .ver {
    width: 90%;
    margin-top: 1.5rem;
  }
}
