.headerContainer {
  width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #434343;
  height: 100vh;
  color: #fff;

  .login {
    img {
      width: 35%;
      margin-right: 1rem;
      margin-bottom: -3em;
    }
  }

  img {
    width: 12rem;
    padding: 1rem;
  }

  li {
    padding: 1rem;
    font-size: 1.5rem;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #fff;

    transition: 0.2s;

    &:hover {
      font-size: 1.75rem;
    }
  }

  footer {
    img {
      width: 6rem;
    }

    p {
      margin-top: 1.5rem;
      font-size: 1.5rem;
    }
  }
}
