.wrapper {
  display: flex;

  main {
    flex: 1;
    height: 100vh;
  }
}

.homeContainer {
  padding-top: 10rem;
  height: 100vh;
  overflow-y: scroll;
  text-align: center;

  .menu {
    margin: 0 auto;

    padding: 5rem 7.5rem;

    .itemMenu1 {
      width: 15rem;
      cursor: pointer;

      img {
        width: 180%;
        margin: 0.7rem 1rem 0.2rem;
      }

      h6 {
        margin: 1.2rem;
        text-align: center !important;
        font-size: 1.5rem;
      }
    }

    .itemMenu {
      width: 15rem;
      cursor: pointer;

      img {
        width: 130%;
        margin: 0.5rem 1rem;
      }

      h6 {
        margin: 1.2rem;
        text-align: center !important;
        font-size: 1.5rem;
      }
    }

    .itemMenu3 {
      width: 15rem;
      cursor: pointer;

      img {
        width: 100%;
        margin: 0.5rem 1.2rem;
      }

      h6 {
        margin: 1.2rem;
        text-align: center !important;
        font-size: 1.5rem;
      }
    }

    .itemADM {
      width: 23rem;
      cursor: pointer;
      margin: 0 auto;

      img {
        width: 100%;
        margin: 0.7rem 1rem 0.2rem;
      }

      h6 {
        margin: 1.2rem;
        text-align: center !important;
        font-size: 1.5rem;
      }
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #434343;
  }

  .logo {
    width: 30rem;
    padding: 3rem;
  }
}
