.listagem {
  background-color: #fff;
  padding: 1rem;
  text-align: justify;
  width: 85%;
  height: 11rem;
  margin: 0 auto;
  border-radius: 18px;
  border: 1px solid #dee2e6;
  margin-top: 0.5rem;

  img {
    width: 60%;
    margin-top: 3rem;
    margin-left: 1.5rem;
  }

  h1 {
    color: #228635;
    font-size: 1.2rem;
  }

  h2 {
    color: #434343;
    font-size: 1rem;
    text-transform: capitalize;
  }
}
