.title {
  color: #228635;
  font-weight: bold;
  font-size: 1.6em;
}

.upload{
   button{
       color: red;
   }
}

section{
button{
 border: none;
 background-color:#fff;
 text-align: left;
  img{
    width: 80%;
    margin-bottom: 0.5rem;
  }
}
}


.buttonSubmit {
  background: #228635;
  border: 0;
  color: #fff;
  border-radius: 8px;
  width: 40%;
  padding: 6px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 auto;
}

