.wrapper {
  display: flex;

  main {
    flex: 1;
    height: 100vh;
    background-color: #e5e5e5;
    cursor: pointer;
  }
}

.ModalConfirmar {
  width: 30rem !important;

  .titulo {
    color: #fff !important;
    font-weight: bold;
    background-color: #ef5350 !important;
  }

  h4 {
    text-align: center !important;
    color: #434343;
  }

  .confirmar {
    text-align: center !important;
    margin: 0 auto !important;

    .btnSim {
      border: 1px solid #ef5350;
      border-radius: 0.5rem;
      color: #ef5350;
      font-weight: bold;
      width: 10rem;

      &:hover {
        background-color: #ef5350;
        color: #fff;
      }
    }

    .btnNao {
      border: 1px solid #434343;
      border-radius: 0.5rem;
      color: #434343;
      font-weight: bold;
      width: 10rem;

      &:hover {
        background-color: #434343;
        color: #fff;
      }
    }
  }
}

.Modal {
  .buttonRedefinirSenha {
    background: #228635;
    border: 0;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 3px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }

  .buttonPublicar {
    background: #228635;
    border: 0;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }

  .buttonExcluir {
    background-color: #fff;
    border: none;
    width: 70%;
    padding: 3px;
    outline: none;
    cursor: pointer;

    img {
      margin-bottom: 0.8rem;

      width: 110%;
    }
  }

  .atualizar {
    text-align: center;
    margin-bottom: 1rem;

    Button {
      border: 1px solid #228635;
      border-radius: 1rem;
      color: #228635;
      font-weight: bold;

      &:hover {
        background-color: #228635;
        color: #fff;
      }
    }
  }

  .stepsForm {
    background: #fff;
    padding: 1rem;
    display: block;
    margin: 0.2rem auto;
    border-radius: 18px;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    max-width: 100%;
    position: relative;
    overflow: hidden;

    .fieldsProjetos {
      padding-top: 1rem;
    }

    .download{
      margin-bottom: 1rem;
      img{
        width: 12%;
        margin-left: 1rem;
       
      }
    }

    .field {
      p {
        font-size: 1rem;
        font-weight: bold;
      }

      .campoData1 {
        width: 12rem;
        margin-left: -7.8rem;
        font-size: 0.8rem;
      }
      .campoData2 {
        width: 14rem;
        margin-left: -7rem;
        margin-right: -2rem;
        font-size: 0.8rem;
      }

      .status {
        width: 40rem;
      }
    }

    input {
      border-radius: 4px;
      border: 1px solid #ccc;
      max-width: 100%;
      width: 100%;
      height: 35px;
      padding: 8px;
      font-size: 14px;
      color: #666;
    }

    label {
      font-size: 1em;
      line-height: 1em;
      color: #228635;
      font-weight: bold;
    }

    p {
      color: #666;
    }

    textarea {
      border-radius: 4px;
      border: 1px solid #ccc;
      max-width: 100%;
      width: 100%;
      height: 200px;
      padding: 8px;
      font-size: 14px;
      color: #666;
    }

    Select {
      border-radius: 4px;
      border: 1px solid #ccc;
      max-width: 100%;
      width: 100%;
      height: 35px;
      padding: 8px;
      font-size: 13px;
      color: #666;
    }

    .buttonSubmit {
      background: #228635;
      border: 0;
      color: #fff;
      border-radius: 8px;
      width: 100%;
      padding: 16px;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
    }

    .buttonExcluir {
      background-color: #fff;
      border: none;
      width: 80%;
      padding: 5px;
      outline: none;
      cursor: pointer;

      img {
        margin-top: 0.5rem;
        width: 120%;
      }
    }
  }

  .titulo {
    color: #fff !important;
    font-weight: bold;

    background-color: #228635 !important;

    span {
      color: #fff;
    }
  }

  .campo {
    color: #228635;
  }

  p {
    font-size: 1.1rem;
  }

  .separador {
    border-bottom: 0.0005px #d3d3d3 solid;
    padding: 0.5rem 0;

    .arquivo {
      color: #66bb6a;
      text-decoration: none;
    }

    .download{
      img{
        width: 12% !important; 
        margin-left: 1rem;
      }
      
    }
  }

  .separadorTitulo {
    h5 {
      background-color: #228635;
      text-align: center;
      color: #fff;
      padding: 0.5rem;
    }
  }

  .separadorPessoa {
    img {
      width: 80%;
      float: right !important;
    }
  }

  .separadorEndereco {

    img {
      width: 80%;
      float: right !important;
    }

    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .separadorUsuario1 {
    img {
      width: 60%;
      float: right !important;
      margin-top: 0.2rem;
    }
  }
  .separadorUsuario2 {
    img {
      width: 80%;
      float: right !important;
      margin-top: 0.5rem;
    }
  }

  .separadorComentario {
    img {
      width: 60%;
      float: right !important;
      margin-top: 0.5rem;
    }
  }

  .separadorComentario1 {
    img {
      width: 70%;
      float: right !important;
      margin-top: 0.5rem;
    }
  }

  .separadorEdital {
    img {
      width: 15%;
      float: right !important;
    }
  }
  .separadorEditalAtualizar {
    img {
      width: 80%;
    }
  }

  .separadorCurso {
    text-align: justify;
    img {
      width: 50%;
      margin-top: 1rem;
      margin-left: 2rem;
    }
  }

  .separadorCursoAtualizar {
    text-align: justify;
    img {
      width: 160%;
      margin-top: 1rem;
    }
  }

  .separadorMembroAtualizar {
    img {
      width: 80%;
      float: right !important;
      margin-top: 0.5rem;
    }
  }

  .separadorMembroAtualizar1 {
    margin-left: 1.5rem;
    img {
      width: 180%;
      float: right !important;
      margin-top: 0.5rem;
    }

    span {
      font-weight: bold;
      color: #228635;
    }
  }

  .separadorProjetoAtualizar {
    img {
      width: 70%;
      float: right !important;
      margin-top: 0.5rem;
    }

    span {
      font-weight: bold;
      color: #228635;
    }
  }

  .separadorMembroAtualizar2 {
    margin-left: -1.5rem;
    margin-bottom: 1rem;
    img {
      width: 160%;
      float: right !important;
      margin-top: 0.8rem;
    }
  }

  .separadorMembro {
    border-bottom: 0.0005px #d3d3d3 solid;
    padding: 0.3rem 0;

    img {
      width: 80%;
      float: right !important;
      margin-top: 0.5rem;
    }
  }

  .cardMembroItem {
    margin-top: 1rem;
    h5 {
      color: #228635 !important;
      font-weight: bold;
    }
  }

  .cardMembro {
    height: 5rem;
  }

  td {
    vertical-align: middle;
  }

  th {
    border-bottom: 2px #228635 solid !important;
    color: #228635 !important;
    font-weight: bold;
  }

  .comentario {
    img {
      width: 6%;
      padding-right: 20px;
    }

    textarea {
      margin-top: 1rem;
      resize: none;
    }
  }

  .formComentario {
    padding: 1rem;

    Button {
      border: 1px solid #228635;
      border-radius: 1rem;
      color: #228635;
      font-weight: bold;

      &:hover {
        background-color: #228635;
        color: #fff;
      }
    }

    textarea {
      border-radius: 0.5rem;
    }

    .campos {
      padding-top: 1rem;

      input {
        border-radius: 0.5rem;
      }
    }

    .buttonSubmit {
      border: 1px solid #228635;
      border-radius: 1rem;
      color: #228635;
      font-weight: bold;
      width: 100%;

      &:hover {
        background-color: #228635;
        color: #fff;
      }
    }
  }
}

.ListagemContainer {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  .topo {
    background-color: #fff;
    text-align: center;
    height: 8rem;
    width: 100%;

    img {
      width: 20rem;
      height: auto;
      padding-top: 2rem;
    }
  }

  .projetos {
    background-color: #e5e5e5;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25rem;


    .listagem {
      background-color: #fff;
      padding: 2rem;
      text-align: justify;
      width: 90%;
      margin: 0 auto;
      border-radius: 18px;
      border: 1px solid #dee2e6;

      h1 {
        text-align: center;
        padding-bottom: 2rem;
        font-size: 1.8rem;
        color: #434343;
      }

      h2 {
        color: #228635;
        font-size: 1.3rem;
        padding-top: 1rem;
      }

      h3 {
        color: #434343;
        font-size: 1rem;
        text-transform: capitalize;
      }
      li {
        list-style-type: none;
      }
    }
  }

  .pessoas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .usuarios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 6rem;
  }

  .membros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25rem;
  }

  .editais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 6rem;
  }

  .cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5.5rem;
  }

  .comentarios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 6rem;
    cursor: default !important;

    .item {
      padding: 0.2rem;
    }
  }

  .comentariosADM {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 6rem;

    .item {
      padding: 0.5rem;
    }
  }

 
}
