.listagem {
  background-color: #fff;
  padding: 1.5rem;
  text-align: justify;
  width: 100%;
  margin: 0 auto;
  border-radius: 18px;
  border: 1px solid #dee2e6;
  margin-top: 0.5rem;
  height: 8rem;

  h1 {
    color: #228635;
    font-size: 1.3rem;
  }

  h2 {
    color: #434343;
    font-size: 1rem;
  }

  img {
    width: 70%;
  }
}
