<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div style="margin-left: 10%; margin-right: 10%;">
    <div
            style="
          display: flex;
          flex-direction: row;
          align-content: flex-start;
          align-items: center;
          justify-content: space-evenly;
        "
    >
        <img width="450px" src="https://projif.ifsuldeminas.edu.br/logo.png" />
    </div>
    <div style="margin-top: 5%; margin-bottom: 5%;">
        <h2 style="text-align: center;">Solicitação de redefinição de senha!</h2>
    </div>

    <div style="margin-top: 5%; margin-bottom: 5%; text-align: center">
        <a style="background-color: #008CBA;
                  border: none;
                  color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  border-radius: 10px; "
        th:href="${baseUrl + '/#/redefinirSenha/' + recuperacao.getHash()}">
            Redefinir senha!
        </a>
    </div>

    <div style="
          display: flex;
          flex-direction: row;
          background-color: #43a047;
          align-content: flex-start;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 5%;
          text-align: center;
        "
    >
    </div>
</div>
</body>
</html>
