.ModalMembros {
  color: #434343;

  .title {
    color: #228635;
    font-weight: bold;
    font-size: 1.6em;
  }

  p {
    font-size: 1.3rem;
  }

  .btnNao {
    background-color: #ef5350 !important;
    border: 1px solid #ef5350 !important;
  }

  .btnSim {
    background-color: #228635 !important;
    border: 1px solid #228635 !important;
  }
}
