.dropdown-menu {
  background-color: #e0e0e0 !important;
}

.btn {
  background-color: #434343 !important;
  border: none !important;
  font-size: 1.5rem !important;
  color: #fff !important;
}

.btn:active {
  border: none !important;
  color: pink !important;
  box-shadow: 0 0 0 0.25rem rgb(255 12 255 / 50%) !important;
}

.visitante:hover {
  font-size: 1.7rem !important;
  transition: 0.3s;
}

.btn:hover {
  color: #228635 !important;
}

.btn:focus {
  box-shadow: none !important;
}

.ImageUploader{
  color: pink;
}

.chooseFileButton{
  background-color: #66bb6a !important;
}