.headerContainer {
  width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #434343;
  height: 100vh;
  color: #fff;

  .itemMenu {
    color: #434343;
    font-weight: bold;

    &:hover {
      color: #228635;
      font-size: 1rem;
    }
  }

  img {
    width: 12rem;
    padding: 1rem;
  }

  li {
    font-size: 1.5rem;
    list-style-type: none;
    text-align: center;
  }

  .sair {
    img {
      width: 30%;
      margin-right: 2rem;
      margin-bottom: -3em;
    }
  }

  a {
    text-decoration: none;
    color: #fff;

    transition: 0.2s;

    &:hover {
      font-size: 1.75rem;
    }
  }

  footer {
    img {
      width: 6rem;
    }

    p {
      margin-top: 1.5rem;
      font-size: 1.5rem;
    }
  }
}
