.ModalPessoas {
  .title {
    color: #228635;
    font-weight: bold;
    font-size: 1.6em;
  }

  p {
    font-size: 1.3rem;
  }

  .btnNao {
    background-color: #ef5350;
    border: 1px solid #ef5350;
  }

  .btnSim {
    background-color: #228635;
    border: 1px solid #228635;
  }

  .stepsForm {
    font-weight: 500;
    color: #434343;

    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .fieldsContainer {
    padding: 24px 24px 40px;
    width: 100%;
  }

  .field {
    margin-bottom: 16px;
  }

  .field label {
    font-size: 1em;
    line-height: 1em;
  }

  .field input {
    border-radius: 4px;
    border: 1px solid #ccc;
    max-width: 100%;
    width: 100%;
    height: 48px;
    padding: 8px;
    font-size: 14px;
    color: #666;
  }

  .buttonSubmit {
    background: #228635;
    border: 0;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 16px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
}
