.wrapper {
  display: flex;

  main {
    flex: 1;
    height: 100vh;
  }

  .itemADM {
    width: 15rem;
    cursor: pointer;
    margin-top: -9.5rem;
    margin-bottom: 8rem;
    margin-left: 1rem;

    img {
      width: 130%;
      margin: 0.4rem 1rem 0.2rem;
    }

    h6 {
      margin: 0.5rem;
      text-align: center !important;
      font-size: 1rem;
    }
  }
}

.homeContainer {
  padding-top: 10rem;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: scroll;
  text-align: center;

  .menu {
    width: 100%;
    margin: 0 auto;

    padding: 5rem 22rem;

    .itemMenu1 {
      width: 12em;
      cursor: pointer;

      img {
        width: 180%;
        margin: 0.7rem 1rem 0.2rem;
      }

      h6 {
        margin: 0.6rem;
        text-align: center !important;
        font-size: 1.5rem;
      }
    }

    .itemMenu {
      width: 12rem;
      cursor: pointer;

      img {
        width: 130%;
        margin: 0.6rem 1rem;
      }

      h6 {
        margin: 0.6rem;
        text-align: center !important;
        font-size: 1.5rem;
      }
    }

    .itemMenu3 {
      width: 12rem;
      cursor: pointer;

      img {
        width: 100%;
        margin: 0.5rem 1.2rem;
      }

      h6 {
        margin: 0.6rem;
        text-align: center !important;
        font-size: 1.5rem;
      }
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #434343;
  }

  .logo {
    width: 30rem;
    padding: 3rem;
  }
}
